<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>Masculino</h3>
        <ul>
          <li><a routerLink="/novidades">Novidades</a></li>
          <li><a routerLink="/products">Tênis</a></li>
          <li><a routerLink="/outlet">Outlet</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Feminino</h3>
        <ul>
          <li><a routerLink="/novidades">Novidades</a></li>
          <li><a routerLink="/products">Tênis</a></li>
          <li><a routerLink="/outlet">Outlet</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Institucional</h3>
        <ul>
          <li><a routerLink="/about">Quem Somos</a></li>
          <li><a routerLink="/trabalhe-conosco">Trabalhe Conosco</a></li>
          <li><a routerLink="/termos">Termos de Uso</a></li>
          <li><a routerLink="/privacidade">Política de Privacidade</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Marcas</h3>
        <ul>
          <li><a routerLink="/nike">Nike</a></li>
          <li><a routerLink="/adidas">Adidas</a></li>
          <li><a routerLink="/puma">Puma</a></li>
          <li><a routerLink="/newbalance">New Balance</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">© 2025 Todos os direitos reservados.</div>
  </footer>
  