<header class="header">
  <nav>
    <a routerLink="/" class="logo">ShoeStore</a>
    <div class="nav-links">
      <a routerLink="/">Página Inicial</a>
      <a routerLink="/products">Produtos</a>
      <a routerLink="/about">Sobre nós</a>
      <a routerLink="/in-developing">Carrinho</a>

      <div class="dropdown" *ngIf="!(authService.currentUser$ | async)">
        <span class="dropdown-toggle">Login</span>
        <div class="dropdown-menu">
          <a routerLink="/login">Realizar Login</a>
          <a routerLink="/register">Realizar Cadastro</a>
        </div>
      </div>

      <a *ngIf="authService.currentUser$ | async" (click)="logout()" style="cursor: pointer;">Logout</a>
    </div>
  </nav>
</header>
