<div class="about">
  <h1>Sobre nós</h1>
  <p>
    Uma empresa dedicada a oferecer os melhores tênis do mercado, combinando design moderno, conforto e alta durabilidade.
  </p>

  <h3>Nossa História</h3>
  <p>
    Em 2025, nasceu a shoeStore com um propósito claro: oferecer aos nossos clientes a melhor experiência possível no universo dos tênis.
    Desde o início, adotamos uma abordagem focada na qualidade e sustentabilidade. Nossos produtos são desenvolvidos com materiais de alta
    performance e tecnologias avançadas, sempre respeitando o meio ambiente e buscando minimizar nosso impacto ecológico.
  </p>
  <p>
    Estamos comprometidos em oferecer um atendimento personalizado e acessível, garantindo que cada cliente encontre o tênis ideal 
    para seu estilo e necessidade.
  </p>

  <div class="mission section-side">
    <div class="text">
      <h2>Missão</h2>
      <p>Oferecer aos nossos clientes a melhor seleção de calçados, combinando estilo moderno, conforto excepcional e qualidade 
        superior, sempre com preços competitivos e acessíveis. Comprometemo-nos a proporcionar uma experiência de compra única, 
        valorizando a satisfação do cliente, a inovação constante e a responsabilidade socioambiental, 
        para que cada passo seja marcado por confiança, bem-estar e elegância.</p>
    </div>
    <img src="assets/missao.jpg" alt="Missão" />
  </div>

  <div class="vision section-side">
    <img src="assets/visao.jpg" alt="Visão"/>
    <div class="text">
      <h2>Visão</h2>
      <p>
        Cultivar uma mentalidade focada no coletivo.
        Buscamos ser referência no nosso setor, promovendo a colaboração, o desenvolvimento sustentável e o bem-estar de todos 
        os nossos colaboradores, clientes e comunidades, inspirando mudanças significativas 
        que transformem vidas e construam um futuro melhor para as próximas gerações.
      </p>
    </div>
  </div>

  <div class="values section-side">
    <div class="text">
      <h2>Nossos valores</h2>
      <ul>
        <li>Qualidade em primeiro lugar</li>
        <li>Inovação</li>
        <li>Sustentabilidade</li>
        <li>Confiabilidade</li>
      </ul>
    </div>
    <img src="assets/valor.jpg" alt="Valores"/>
  </div>
</div>
