<div class="product-page">
    <img class="image" [src]="product.imageUrl" alt="Product Image">
    <div class="product-container">
        <h1 class="product-title">{{product.name}}</h1>
        
        <div class="stats">
            <span>Id: <b>{{product.id}}</b></span>
            <span>Marca: <b>{{product.brand}}</b></span>
            <span>Sexo: <b>{{product.gender}}</b></span>
        </div>
        
        <p class="product-description">{{product.description}}</p>
        
        <h2 class="product-price">{{"R$" + product.price}}</h2>

        <div class="product-buttons">
            <div class="quantity-selector">
                <button class="btn minus" (click)="decrement()">−</button>
                <span class="quantity">{{quantity}}</span>
                <button class="btn plus" (click)="increment()">+</button>
            </div>

            <button class="add-to-cart" (click)="goToInDeveloping()">Adicionar ao carrinho</button>
            <button class="buy-now" (click)="goToInDeveloping()">Comprar agora</button>
        </div>
    </div>
</div>
