<div class="container">
    <div class="banner">
      <div class="slides">
        <div class="slide" [class.active]="currentSlide === 0">
          <div class="slide-click-area" (click)="goToProducts('Nike')">
            <img src="/assets/tenis_nike.jpg" alt="Nike" />
            <div class="content">
              <h1>Conforto e estilo para todos os momentos</h1>
            </div>
          </div>
        </div>
        <div class="slide" [class.active]="currentSlide === 1">
          <div class="slide-click-area" (click)="goToProducts('New Balance')">
            <img src="/assets/tenis_new_balance.jpg" alt="New Balance" />
            <div class="content">
              <h1>Desempenho e qualidade que te acompanham</h1>
            </div>
          </div>
        </div>
        <div class="slide" [class.active]="currentSlide === 2">
          <div class="slide-click-area" (click)="goToProducts('Puma')">
            <img src="/assets/tenis_puma.jpg" alt="Puma" />
            <div class="content">
              <h1>O seu próximo passo começa aqui.</h1>
            </div>
          </div>
        </div>
        <div class="slide" [class.active]="currentSlide === 3">
          <div class="slide-click-area" (click)="goToProducts('Adidas')">
            <img src="/assets/tenis_adidas.jpg" alt="Adidas" />
            <div class="content">
              <h1>Sinta a diferença em cada detalhe</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="prev" (click)="changeSlide(-1)">&#10094;</button>
    <button class="next" (click)="changeSlide(1)">&#10095;</button>
  
    <div class="brands-section">
      <div class="brands-header">
        <h2>MARCAS</h2>
        <p class="subtitle">Um catálogo diverso para você se jogar!</p>
      </div>
  
      <div class="category">
        <h3>Nossos principais parceiros</h3>
        <div class="brand-logos">
          <div class="brand" (click)="goToProducts('Nike')">
            <img src="assets/nike.svg" alt="Nike" />
            <span>Nike</span>
          </div>
          <div class="brand" (click)="goToProducts('Adidas')">
            <img src="assets/adidas.svg" alt="Adidas" />
            <span>Adidas</span>
          </div>
          <div class="brand" (click)="goToProducts('Puma')">
            <img src="assets/puma.svg" alt="Puma" />
            <span>Puma</span>
          </div>
          <div class="brand" (click)="goToProducts('New Balance')">
            <img src="assets/newbalance.svg" alt="New Balance" />
            <span>New Balance</span>
          </div>
          <div class="brand" (click)="goToProducts('')">
            <span>Todas as Marcas</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  